<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.source.repository.ImagesRepository">

    <insert id="save">
        insert into image (link, suffix) VALUES (#{link}, #{suffix})
    </insert>

    <delete id="delete">
        delete from image where link = #{link}
    </delete>

</mapper>