<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.blog.repository.BlogRepository">
    <sql id="pageable">
        <if test="page != null">
            limit #{page.from}, #{page.count};
            <include refid="${template}"/>
        </if>
    </sql>

    <sql id="pageablePrue">
        <if test="page != null">
            limit #{page.from}, #{page.count};
        </if>
    </sql>

    <resultMap id="blog" type="blog"/>

    <resultMap id="total" type="integer">
        <result column="total"/>
    </resultMap>

    <sql id="findByOwnerId">
        select ${filed}
        from blog b
        where b.owner_id = #{ownerId}
    </sql>

    <select id="findByOwnerId"
            resultMap="blog,total">
        <include refid="findByOwnerId">
            <property name="filed" value="b.id, b.owner_id, b.created_date, b.updated_date, b.download_link, b.title"/>
        </include>
        <include refid="pageable">
            <property name="template" value="findByOwnerId"/>
            <property name="filed" value="COUNT(*) as total"/>
        </include>
    </select>

    <select id="largeFindByOwnerId"
            resultMap="blog,total">
        select b.id, b.owner_id, b.created_date, b.updated_date, b.download_link, b.title
        from blog b
        where id > (select id from blog bb where bb.id = #{ownerId})
        limit 0, #{page.count};

        select count(*) as total
        from blog b
        where id = #{ownerId}
    </select>

    <sql id="findByTagsAndOwnerId">
        select ${filed}
        from blog b inner join blog_tag bt on b.id = bt.blog_id
        where b.owner_id = #{ownerId}
        <if test="tags.size() != 0">
            and bt.tag in
            <foreach collection="tags" item="tag" index="i" close=")" open="(" separator=",">
                #{tag.name}
            </foreach>
        </if>
    </sql>

    <select id="findByTagsAndOwnerId" resultMap="blog,total">
        <include refid="findByTagsAndOwnerId">
            <property name="filed" value="b.*"/>
        </include>
        <include refid="pageable">
            <property name="template" value="findByTagsAndOwnerId"/>
            <property name="filed" value="COUNT(*) as total"/>
        </include>
    </select>

    <select id="find"
            resultType="Blog">
        select *
        from blog
        where id = #{id}
    </select>

    <insert id="save"
            parameterType="Blog"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into blog (owner_id, download_link, title)
        values (#{ownerId}, #{downloadLink}, #{title})
    </insert>

    <insert id="saveTags">
        insert into blog_tag (tag, owner_id, blog_id)
        values
            <foreach collection="tags" separator="," item="tag" index="i">
                (#{tag.name}, #{ownerId}, #{blogId})
            </foreach>
    </insert>

<!--    <resultMap id="blogPro" type="gray.light.blog.business.BlogBo">
        <association property="blog" resultMap="blog"/>
        <collection property="tags" ofType="Tag" resultMap="tag" columnPrefix="tag_"/>
    </resultMap>

    <select id="findByOwnerIdPro" resultMap="blogPro">
        select
        b.*,
        t.name as tag_name,
        t.color as tag_color,
        t.created_date as tag_created_date,
        t.updated_date as tag_updated_date
        from blog b
                     left outer join blog_tag bt
                     inner join tag t on bt.tag = t.name on b.id = bt.blog_id
        where b.owner_id = #{ownerId}
        <include refid="pageablePrue"/>
    </select>-->

    <select id="findByIds"
            resultType="blog">
        select
            b.id,
            b.owner_id,
            b.created_date,
            b.updated_date,
            b.download_link,
            b.title
        from blog b
        where id in <foreach collection="ids" item="id" index="i" close=")" open="(" separator=",">#{id}</foreach>
    </select>

</mapper>