<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.document.repository.WorksDocumentRepository">

    <insert id="save"
            parameterType="WorksDocument"
            keyProperty="documentId">
        insert into works_document (works_id, document_id)
        values (#{worksId}, #{documentId})
    </insert>

</mapper>