<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.book.repository.BookChapterRepository">

    <sql id="pageable">
        <if test="page != null">
            limit #{page.from}, #{page.count}
        </if>
    </sql>

    <select id="findByOwnerProjectId"
            resultType="BookChapter">
        select *
        from book_chapter
        where owner_project_id = #{ownerProjectId}
        <include refid="pageable"/>
    </select>

    <insert id="batchSave" parameterType="list" keyProperty="uid">
        insert into book_chapter (uid, title, catalog_uid, owner_project_id, download_link)
        values (
        <foreach collection="chapters" index="index" item="item" separator="),(">
            #{item.uid},
            #{item.title},
            #{item.catalogUid},
            #{item.ownerProjectId},
            #{item.downloadLink}
        </foreach>
        )
    </insert>

    <delete id="deleteByOwnerProjectId">
        delete from book_chapter where owner_project_id = #{ownerProjectId}
    </delete>

</mapper>