<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.owner.repository.OwnerProjectRepository">

    <sql id="pageable">
        <if test="page != null">
            limit #{page.from}, #{page.count}
        </if>
    </sql>

    <select id="findById"
            resultType="OwnerProject">
        select *
        from owner_project
        where id = #{id}
        limit 1
    </select>

    <select id="findAll"
            resultType="OwnerProject">
        select *
        from owner_project
        <include refid="pageable"/>
    </select>

    <select id="findByOwnerIdAndScope"
            resultType="OwnerProject">
        select *
        from owner_project
        where owner_id = #{ownerId}
        <if test="scope != null">
            and scope = #{scope}
        </if>
        <include refid="pageable"/>
    </select>

    <select id="existsById"
            resultType="boolean">
        select COUNT(0)
        from owner_project
        where id = #{id}
        limit 1
    </select>

    <select id="existsByIdAndOwnerId"
            resultType="boolean">
        select COUNT(0)
        from owner_project
        where id = #{id}
          and owner_id = #{ownerId}
        limit 1
    </select>

    <insert id="save"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into owner_project (name, description, owner_id, scope, home_page)
        values (#{name}, #{description}, #{ownerId}, #{scope}, #{homePage})
    </insert>

    <delete id="delete"
            parameterType="OwnerProject">
        delete
        from owner_project
        where id = #{id}
    </delete>

</mapper>