<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gray.light.owner.repository.OwnerRepository">

    <sql id="pageable">
        <if test="page != null">
            limit #{page.from}, #{page.count}
        </if>
    </sql>

    <select id="findAll"
            resultType="Owner">
        select *
        from owner
        <include refid="pageable"/>
    </select>

    <select id="findById" resultType="Owner">
        select *
        from owner
        where id = #{id}
        limit 1
    </select>

    <select id="findBySuperPrivilege"
            resultType="Owner">
        select *
        from owner
        where super_privilege = #{privilege}
        <include refid="pageable"/>
    </select>

    <select id="existsById"
            resultType="boolean">
        select COUNT(0)
        from owner
        where owner.id = #{id}
        limit 1
    </select>

    <insert id="save"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into owner (username, organization, super_privilege)
        values (#{username}, #{organization}, #{superPrivilege})
    </insert>

</mapper>