<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="excellent.cancer.gray.light.jdbc.repositories.DocumentRepository">

    <select id="findAll" resultType="Document">
        select *
        from document
    </select>

    <insert id="save"
            parameterType="Document"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into document (created_date, updated_date, title, isEmpty, download_link, upload_link, catalog_id)
        values (CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{title}, #{isEmpty}, #{downloadLink}, #{uploadLink},
                #{catalogId})
    </insert>

    <insert id="saveIfMatchedDocumentCatalogAndExcludeFolder"
            parameterType="Document"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into document (created_date, updated_date, title, isEmpty, download_link, upload_link, catalog_id)
        select CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{title}, #{isEmpty}, #{downloadLink}, #{uploadLink}, #{catalogId}
        from document_catalog as c
        where c.id = #{catalogId}
          and c.folder != ${exclude}
    </insert>

</mapper>