<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="excellent.cancer.gray.light.jdbc.repositories.DocumentRepository">

    <!-- ***************** -->
    <!-- **** Document *** -->
    <!-- ***************** -->

    <!-- Common SQL -->

    <sql id="docs_columns">(project_id, title, description, created_date, updated_date, repo_url, version,
                            document_status)</sql>

    <!-- Select SQL -->

    <select id="findByStatus"
            resultType="Document">
        select *
        from document
        where document_status = #{status}
    </select>

    <select id="findAll"
            resultType="Document">
        select *
        from document
    </select>

    <!-- Insert SQL -->

    <insert id="saveIfMatchedProject"
            parameterType="Document"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into document (project_id, title, description, created_date, updated_date, repo_url, version,
        document_status)
        select #{projectId},
        #{title},
        #{description},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP,
        #{repoUrl},
        #{version},
        #{documentStatus}
        from owner_project as p
        where p.id = #{projectId}
    </insert>

    <insert id="batchSave"
            parameterType="java.util.List"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into document
        <include refid="docs_columns">
        </include>
        values(
        <foreach collection="documents" index="index" item="docs" separator="),(">
            #{docs.projectId},
            #{docs.title},
            #{docs.description},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP,
            #{docs.repoUrl},
            #{docs.version},
            #{docs.documentStatus}
        </foreach>
        )
    </insert>

    <!-- Update SQL -->

    <update id="batchUpdateDocumentStatus"
            parameterType="java.util.List">
        # noinspection SqlWithoutWhere

        update document d
        join(
        <foreach collection="documents" index="index" item="docs" separator=" UNION ">
            select #{docs.id} as id, #{docs.documentStatus} as document_status
        </foreach>
        ) b using(id)
        set d.document_status = b.document_status
    </update>

</mapper>